@page "/transactions/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Models
@inject IDbContextFactory<BlazorApp.Data.BlazorAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Transaction</h2>
    <hr />
    @if (transaction is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">AccountId</dt>
            <dd class="col-sm-10">@transaction.AccountId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">TransactionAmount</dt>
            <dd class="col-sm-10">@transaction.TransactionAmount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">TransactionDate</dt>
            <dd class="col-sm-10">@transaction.TransactionDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Merchant</dt>
            <dd class="col-sm-10">@transaction.Merchant</dd>
        </dl>
        <EditForm method="post" Model="transaction" OnValidSubmit="DeleteTransaction" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(transaction is null)">Delete</button> |
            <a href="/transactions">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Transaction? transaction;

    [SupplyParameterFromQuery]
    private int TransactionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        transaction = await context.Transaction.FirstOrDefaultAsync(m => m.TransactionId == TransactionId);

        if (transaction is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteTransaction()
    {
        using var context = DbFactory.CreateDbContext();
        context.Transaction.Remove(transaction!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/transactions");
    }
}
